<div class="conteiner d-flex justify-content-between tamanho" >
    <div class="card" style="width: 18rem;" >
        <img src="../../assets/wheyy.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Medium whey protein (1kg) Growth upplements</h5>
          <p class="card-text">Compre Medium Whey Protein (1kg) direto da fábrica, com matéria-prima importada e em até 6x s/ juros ou 10% de desconto. Economize no seu suplemento!</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/frango.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Filé de peito de frango Perdigão - 800g</h5>
          <p class="card-text">Filé de Peito de Frango Perdigão IQF 800g: O filé de frango é muito versátil e saboroso, com baixo teor de gordura, ideal para servir para toda a família. Aproveite os preços ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()"n>Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/macarrao.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Macarrão espaguete com ovos 500g</h5>
          <p class="card-text">A massa Espaguete Dona Benta está sempre soltinha e na consistência certa. Você pode usar no preparo de saladas, massas com molhos variados e sopas. Possui baixo teor de ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/sorvete.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sorvete Kibon 800ml</h5>
          <p class="card-text">Kibon Twix é a combinação perfeita do cremoso sorvete sabor caramelo, com biscoitos cobertos por chocolate e gotas de caramelo. Kibon oferece essa explosão de sabor dentro de ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;  margin-top: 40px;" >
        <img src="../../assets/pao.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pão de alho Santa Massa tradicional 400g</h5>
          <p class="card-text">O Pão de Alho Tradicional Santa Massa não pode faltar no churrasco, até mesmo em churrascos vegetarianos. O produto chega fresquinho e pronto para ser preparado, é ótimo para ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;  margin-top: 40px;">
        <img src="../../assets/shopping.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Azeitona Verde Recheada Don Castelli 2kg</h5>
          <p class="card-text">A Azeitona Verde Recheada Don Castelli tem um sabor suave e natural, apresenta uma textura deliciosa, podendo ser utilizada em diversas receitas. Beneficios Azeitona Don ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()"n>Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;  margin-top: 40px;">
        <img src="../../assets/shopping (1).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz Tio João 1kg Tipo 1</h5>
          <p class="card-text">	Arroz Branco Tio João 100% Grãos Nobres Um arroz branquinho, soltinho e saboroso é de dar água na boca. Com o arroz Tio João 100% Grãos Nobres é assim. Ele passa por um ...</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;  margin-top: 40px;">
        <img src="../../assets/shopping (2).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Castanha do Pará Quebrada Premium Safra Novan 1kg</h5>
          <p class="card-text">	Castanha do Pará sempre novinha e crocante! Pacote com 300g, 500g ou 1kg. Validade acima de 6 meses.</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>


</div>