<div class="conteiner d-flex d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/bebe-peso-balanca-altura.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Balança</h5>
          <p class="card-text">Que tudo pesa</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/bebe-peso-balanca-altura.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Balança</h5>
          <p class="card-text">Que tudo pesa</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/bebe-peso-balanca-altura.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Balança</h5>
          <p class="card-text">Que tudo pesa</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/bebe-peso-balanca-altura.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Balança</h5>
          <p class="card-text">Que tudo pesa</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>

</div>